<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Nesting Templates</title>
</head>
<body>
  The best number is {{.}}
  <p>{{template "Krishkrash" .}}</p>
  <!-- passing current piece of data to Krishkrash template -->
</body>
</html>
