<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Predefined Global Functions (comparison)</title>
</head>
<body>
  {{if gt .Score1 .Score2}}
    score 1 is greater
  {{end}}

  {{if lt .Score1 .Score2}}
      score 1 is lesser
    {{end}}

    {{if eq .Score1 .Score2}}
        scores are equal
    {{end}}

    {{if lt .Score1 11}}
          score1 is less than 11
    {{end}}

  </body>
  </html>

<!-- Basic comparison global functions -->
