<!DOCTYPE html>
<html lang="eng">
<head>
  <title>
    Redirect 303
  </title>
</head>
<body>
  <form method="POST" action="/bar">
    <input type="text"  name="fname" placeholder="fname">
    <input type="submit">
  </body>
</form>
