<!DOCTYPE html>
<html lang="eng">
<head>
<title>Methods in Template</title>
</head>
<body>
  {{.Name}}
  {{.Age}}
  {{.Double}}
  {{.Age | .TakesArg}}
</body>
</html>

<!-- Mehods that are implemented by the sturct can be accessed in templates -->
